<!-- <div class="app-container">-->
<div class="d-flex">
    <div class="projects-section">
        <div class="projects-section-header">
            <p>Agendar cita</p>
            <p class="time">{{today | date}}</p>
        </div>
        <app-scheduled-appointment-information [today]="today" [dateSelected]="model"></app-scheduled-appointment-information>        
        <div class="project-boxes jsGridView">
            <div class="calendar-container">
                <ngb-datepicker #dp [(ngModel)]="model" (ngModelChange)="onNgModelChange($event)"
                    (navigate)="onNavigate($event)" [markDisabled]="markDisabled"></ngb-datepicker>
            </div>


        </div>
    </div>
    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10" />
                <line x1="15" y1="9" x2="9" y2="15" />
                <line x1="9" y1="9" x2="15" y2="15" />
            </svg>
        </button>
        <div class="projects-section-header">
            <p>Seleccione hora de la cita</p>
            <button class="add-btn" title="Agendar" (click)="scheduleAnAppointment()">
                <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </button>
        </div>
        <div class="messages">
            <ul class="p-0">
                <li *ngFor="let element of times; index as i">
                    <!-- value="{{time.value}}"  [(ngModel)]="time" [ngModelOptions]="{standalone:true}" -->
                    <input type="radio" id="{{i}}" name="selector" [disabled]="!element.available"
                        value="{{element.value}}" [(ngModel)]="time"
                        [ngModelOptions]="{standalone:true}" />
                    <label for="{{i}}">
                        {{element.value}}
                        <ng-container *ngIf="!element.available">
                            (no disponible)
                        </ng-container>
                    </label>
                    <div class="radiobutton"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--   </div> -->