<div class="projects-section-line">
    <div class="projects-status">
        <div class="item-status">
            <span class="status-number">{{currentScheduledAppointments.length}}</span>
            <span class="status-type">Mes actual</span>
        </div>
        <div class="item-status">
            <span class="status-number">{{selectedScheduledAppointments.length}}</span>
            <span class="status-type">Mes seleccionado</span>
        </div>
        <div class="item-status">
            <span class="status-number">{{allScheduledAppointments.length}}</span>
            <span class="status-type">Total de citas</span>
        </div>
    </div>
</div>